@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url(../fonts/FuturaBT-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.2em;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 1000; */
}
.main-nav {
    font-family: 'Futura';
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.1rem 0;
}

.nav-ul a {
    text-decoration: none;
    color: #000;
    background-color: azure;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.nav-ul a:hover {
    color: #000;
    background-color:aliceblue;
}

